@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <div class="sb-nav-fixed">
        <CatalogueNavBar />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <CatalogueSideNav />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    @Body
                </main>
                <CatalogueFooter />
            </div>
        </div>
    </div>
</RadzenLayout>
